a {
  color: #EBEBEB;
  text-decoration: none;
  transition: 0.3s;
}

.logo{
    margin-bottom: 100px; 
}

.logo img{
  width: 216px;
  height: 132px;
  background: #01161e;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #01161e;
  height: 22vh;
  padding-bottom: 15px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list li a {
  background: #01161e;
}

.nav-list li a:hover {
  color: #797878;
}

.mobile-menu {
  cursor: pointer;
  padding-bottom: 15px;
  background: #01161e;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #EBEBEB;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 28vh;
    right: 0;
    width: 100vw;
    height: 46vh;
    background: #01161e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

.nav-list.active li {
  opacity: 1;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.img-roulette{
  border: 1px solid red;
  height: 20vw;
}
